


*{
 margin: 0 auto;
 
}
body{
    background: url(../imagenes/fondo.jpg);
}

#container{
    width: 950px;
   
    
}
.menu, .navigation{
    list-style: none;

    
}
.menu{
    float: right;
    color: black;
    display: inline-flex;

}
.menu a{
    padding: 10px;
    text-align: center;
    font-size: 20px;

    
}
.menu li{
        padding-left: 15px;
}

nav ul{
    text-align: center;

}

nav{
    float: right;
    width: 60%;
    clear: left;
    padding: 10px;
text-align: center;
    margin: 5px;
        margin-right: 20px;

    
}


#logo{
        width: 35%;
}

a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: black;
        font-family: Kreonlight;


}

h2 a{
        text-decoration: none;
        list-style: none;
        font-size: 25px;
        color: white;
        width: 200px;
        margin-top: 90px;
        margin-bottom: 10px;
        font-family: KreonBold;        
}
p{
    width: 460px;
    float: left;
    color: white;
    word-break: break-all;
    line-height: 20px;
    word-spacing: 0.1px;
    font-family: Kreonlight;
}

header{
    margin-bottom: 10px;
}
.menu a:hover{
    background: #111180;;
    
    color: white;
    border-radius: 8px;
}

section{
    position: relative;
}
.featured{
    background: url(../imagenes/html55.jpg);

    
    height:519px ;
    width:100%;
}


.featured ul{
        list-style: none;
}

footer{
    width: 100%;
}

.footer{
    width: 50%;
}

.navigation{
        display: inline-flex;
        width: 100%;
        padding-left: 0px;
        margin-top: 40px;
        margin-bottom: 40px;
        
}

.navigation a{
                text-align: center;
                opacity: 0.5;
}

#nota{
    text-align: center;
    opacity: 0.5;
}

@font-face{
    font-family: 'KreonBold';
    src: url('../fonts/kreon-bold-webfont.eot');
    src: url('../fonts/kreon-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/kreon-bold-webfont.woff') format('woff'),
    url('../fonts/kreon-bold-webfont.ttf') format('truetype'),
    url('../fonts/kreon-bold-webfont.svg#KreonBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kreonlight';
    src: url('../fonts/kreon-light-webfont.eot');
    src: url('../fonts/kreon-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/kreon-light-webfont.woff') format('woff'),
    url('../fonts/kreon-light-webfont.ttf') format('truetype'),
    url('../fonts/kreon-light-webfont.svg#kreonlight') format('svg');
    font-weight: normal;
    font-style: normal;
    
    
    
    
    
    
}